{% load staticfiles %}

<html>
    <head>        
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
        <title>Cerdigres Cards</title>
    </head>
    <body>
            <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">                
                    <div class="nav">
                            <a class="nav-link active" href="/">Home</a>
                            <a class="nav-link" href="{% url 'rank:index' %}">Rulebooks</a>
                            <a class="nav-link" href="#">Link</a>                            
                    </div>
                    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                            {% if user.is_authenticated %}
                            <li class="nav-item" style="padding-right: 2em;">
                                    <a href="{% url 'logout' %}?next=/">
                                            <span class="fas fa-sign-out-alt"> Logout </span>
                                            </a>
                            </li>
                            <li class="nav-item">
                                    <span class="glyphicon glyphicon-user"> {{ user.username }} </span>
                            </li>
                            {% else %}
                            <li class="nav-item" style="padding-right: 2em;">
                                    <a href="{% url 'register' %}" class="top-menu">
                                            <span class="fas fa-user-plus">  </span>Register
                                        </a>
                                        
                            </li>
                            <li class="nav-item">
                                    <a href="{% url 'login' %}" class="top-menu">
                                            <span class="fas fa-sign-in-alt">  </span>Login
                                        </a>
                            </li>
                            {% endif %}
                    </ul>
            

        </header>
        
        <main role="main">      
                {% block content %}
                {% endblock %}    
        </main>
    </body>
</html>
