{% extends 'home/base.html' %}

{% block content %}

{% if rulebook_list %}
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Votes</th>
            <th scope="col">Description</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
            {% for rulebook in rulebook_list %}
            <tr>
                <td>
                    <a href="{% url 'rulebook:rulebook_detail' rulebook.id %}">{{ rulebook.name }}</a>
                </td>
                <td>{{ rulebook.general_votes }}</td>
                <td>{{ rulebook.description_text }}</td>
                <td>{{ rulebook.recommended_age_min }}-{{ rulebook.recommended_age_max }}</td>  
            </tr>   
            {% endfor %}  
           
        </tbody>
    </table>
{% else %}
    <p>No rulebooks are available.</p>
{% endif %}

{% endblock content %}
